<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <settings>
    <!--开启驼峰命名映射，如数据库字段：device_code自动可以映射到Bean中的deviceName，该属性默认false-->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="logImpl" value="SLF4J" />
  </settings>


  <typeAliases>
    <!--<typeAlias alias="Article" type="org.simon.demo.demo1.entity.Article"/>
    <typeAlias alias="Author" type="org.simon.demo.demo1.entity.Author"/>-->
    <package name="org.simon.demo.demo1.entity"/>
  </typeAliases>

  <typeHandlers>
    <typeHandler handler="org.simon.demo.demo1.typehandler.ArticleTypeHandler"
               javaType="org.simon.demo.demo1.constant.ArticleTypeEnum"/>
  </typeHandlers>


<!--  <plugins>
    <plugin interceptor="org.simon.inceptor.SqlCostInterceptor"/>
  </plugins>-->

  <environments default="devDB">
    <environment id="devDB">
      <transactionManager type="JDBC"></transactionManager>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ssm?userSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF8&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>
  

  <mappers>
    <mapper resource="mapper/demo.demo1/ArticleMapper.xml"/>
    <mapper resource="mapper/demo.demo1/AuthorMapper.xml"/>
  </mappers>

</configuration>

